/* hover */

.bar:hover .thumb {
    display: block;
}

.time-bar .bar:hover .fl, .volume .bar:hover .fl {
    background-color: coral;
}

.image:hover .dark-card{
    opacity: 1;
}

.playlist:hover i{
    background-color: rgba(255, 255, 255, 0.904);
}

.playlist:hover span{
    color: rgba(255, 255, 255, 0.904);
}

.navigation button:hover, .playlist-name button:hover span, .nav-footer span:hover, .nav li:hover a, .music-name span:hover, .save-music i:hover {
    color: rgba(255, 255, 255, 0.904);
    cursor: pointer;
}

.navigation button:link span, .navigation button:active span, .navigation button:hover span {
    color: rgba(255, 255, 255, 0.904);
    cursor: pointer;
}

.music-name span:hover {
    text-decoration: underline;
}

.control-button i.fa-regular:hover {
    transform: scale(1.4);
}

/* hover */



/* border */

.nav ul a:link:before {
    border-bottom: 1px transparent rgb(94, 255, 0);
}

.nav ul a:hover:before, .nav ul a:focus:before {
    border-bottom: 1px solid rgb(94, 255, 0);
}

.navigation ul li:not(li:nth-child(1)) button:hover, .navigation ul li:not(li:nth-child(1)) button:link, .navigation ul li:not(li:nth-child(1)) button:focus {
    border-left: 2px solid rgb(94, 255, 0);
}
/* border */



/* button */

.btn-primary:hover {
    padding: 12px 35px;
}

/* button */
