:root {

    /* height */
    --foot-height: 100px;
    --upgrade-height: 80px;
    --nav-height: 50px;
    --row-height: 290px;
    

    /* text-size */
    --h1-text-size: 2em;
    --h2-text-size: 1.4em;
    --span-text-size: 1.2em;
}

@media screen and (max-width: 1100px) {

    .row {
        flex-wrap: wrap;
        row-gap: 20px;
    }

    .card {
        flex-basis: 24%;
    }
}

@media screen and (max-width: 945px) {
    
    .nav {
        height: calc(var(--nav-height)*1.5);
    }

    .nav ul {
        line-height: calc((var(--nav-height)*1.5)/2);
    }

    .container {
        height: calc(100vh - (var(--upgrade-height) + 110px + var(--foot-height)));
    }

    .container > div:first-child h1 {
        margin-top: 1em;
    }

    footer {
        column-gap: 15px;
    }

    .music, .volume {
        width: 30%;
    }

    .duration {
        width: 40%;
    }

    .time-bar .bar {
        width: 68%;
    }

    .save-music {
        flex-direction: column;
        justify-content: center;
        row-gap: 8px;
    }
}

@media screen and (max-width: 750px) {
   
    .row {
        flex-wrap: wrap;
        row-gap: 15px;
        column-gap: 10px;
    }

    .card {
        flex-basis: calc(50% - 10px);
    }

    .time-bar .bar {
        width: 55%;
    }

    .volume {
        font-size: 0.9em;
        column-gap: 15px;
    }

}

@media screen and (max-width: 610px) {
   
    header {
        width: 45px;
        background-color: black;
    }
    
    main {
        background-color: transparent;
        width: calc(100% - 45px); 
    }

    .row {
        flex-wrap: wrap;
    }

    .container-nav {
        align-items: center;
    }

    .navigation ul li:before {
        content : "";
        position: absolute;
        left    : -19%;
        bottom  : 0;
        height  : 100%;
        width   : 1px;  
        border-left:1px solid rgb(94, 255, 0);
        opacity: 0;
        transition: 0.3s;
     }

    .nav-footer ul {
        align-content: center;
    }

    .nav-footer li:first-child {
        border-bottom: 0;
    }

    .nav-footer li:first-child img {
        height: 26px;
    }

    .nav-footer li:last-child button {
        padding: 3px 5px 3px;
        border-radius: 20px;
        background-color: gray;
    }
    
    .nav-footer li:last-child img {
        height: 20px;
    }

    .nav-footer li:last-child {
        align-items: center;
        margin-top: 0em;
        margin-bottom: 0.5em;
    }

    .playlist, .playlist-name, header span, header h2, .logo {
        display: none;
    }

    .navigation ul li:first-child {
        display: block;
    }

    .music {
        column-gap: 10px;
    }

    .time-bar .bar {
        width: 55%;
    }

    .volume {
        font-size: 0.9em;
        column-gap: 8px;
    }

}

@media screen and (max-width: 525px) {
}