:root {

    /* height */
    --foot-height: 100px;
    --upgrade-height: 80px;
    --nav-height: 65px;
    --row-height: 290px;
    

    /* text-size */
    --h1-text-size: 2em;
    --h2-text-size: 1.4em;
    --span-text-size: 1.2em;
}

@media screen and (max-width: 1100px) {
    header {
        width: 25%;
    }

    main{
        width: 75%;
    }

    .row {
        flex-wrap: wrap;
        row-gap: 20px;
    }

    .card {
        flex-basis: 24%;
    }
}

@media screen and (max-width: 970px) {
    
    .nav {
        height: calc(var(--nav-height)*2);
    }

    .music, .volume {
        width: 27%;
    }

    .duration {
        width: 46%;
    }
    
    .music-image {
        width: 15%;
    }

    .save-music {
        flex-direction: column;
        justify-content: center;
    }
}