:root {

    /* height */
    --foot-height: 100px;
    --upgrade-height: 80px;
    --nav-height: 65px;
    --row-height: 290px;
    

    /* text-size */
    --h1-text-size: 2em;
    --h2-text-size: 1.4em;
    --span-text-size: 1.2em;
}

@media screen and (max-width: 1100px) {

    .row {
        flex-wrap: wrap;
        row-gap: 20px;
    }

    .card {
        flex-basis: 24%;
    }
}

@media screen and (max-width: 945px) {
    
    .nav {
        height: calc(var(--nav-height)*1.5);
    }

    .nav ul {
        line-height: calc((var(--nav-height)*1.5)/2);
    }

    footer {
        column-gap: 15px;
    }

    .music, .volume {
        width: 30%;
    }

    .duration {
        width: 40%;
    }

    .time-bar .bar {
        width: 68%;
    }

    .save-music {
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 750px) {
   
    .row {
        flex-wrap: wrap;
        row-gap: 15px;
    }

    .card {
        flex-basis: 48%;
    }

    .time-bar .bar {
        width: 55%;
    }

    .volume {
        font-size: 0.9em;
        column-gap: 15px;
    }

}

@media screen and (max-width: 610px) {
   
    header {
        width: 45px;
        background-color: black;
    }
    
    main {
        background-color: transparent;
        width: calc(100% - 45px); 
    }

    .row {
        flex-wrap: wrap;
        row-gap: 15px;
    }

    .container-nav {
        align-items: center;
    }

    .nav-footer button {
        justify-content: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .nav-footer li:first-child {
        border-bottom: 0;
    }

    .nav-footer li:first-child button {
        width: 50px;
    }

    .nav-footer li:first-child img {
        width: 100%;
    }

    .nav-footer li:last-child button {
        padding: 3px 12px 3px 5px;
        border-radius: 20px;
        background-color: gray;
    }
    
    .nav-footer li:last-child img {
        height: 20px;
    }

    .nav-footer li:last-child {
        align-items: center;
        margin-top: 0em;
    }

    .playlist, .playlist-name, header span, header h2, .logo {
        display: none;
    }

    .navigation ul li:first-child {
        display: block;
    }

    .card {
        flex-basis: 100%%;
    }

    .time-bar .bar {
        width: 55%;
    }

    .volume {
        font-size: 0.9em;
        column-gap: 15px;
    }

}