:root {
    --foot-height: 100px;
    --upgrade-height: 80px;
    --nav-height: 50px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Balsamiq Sans', cursive;
}



/* commun uses */

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

/* end common uses */



/* flex */

.flex {
    display: flex;
}

.box-row {
    flex-direction: row;
    flex-wrap: wrap;
}

.box-column {
    flex-direction: column;
    flex-wrap: wrap;
}

.box-column-no {
    flex-direction: column;
    flex-wrap: nowrap;
}

.box-center {
    justify-content: center;
}

.box-center {
    justify-content: center;
}

/* end flex */



/* container */

header {
    height: calc(100vh - var(--foot-height));
    width: 10%;
    background-color: coral;
}

main {
    background-color: cyan;
    width: 90%; 
    overflow: auto;
}

footer {
    height: var(--foot-height);
    width: 100%;
    background-color: darkgreen;
    bottom: 0;
    z-index: 1;
}

.upgrade {
    height: var(--upgrade-height);
    background-color: violet;
}

.nav {
    height: var(--nav-height);
    background-color: wheat;
}

.container {
    height: calc(100vh - (var(--upgrade-height) + var(--nav-height) + var(--foot-height)));
    padding: 10px;
}

.row-primary {
    width: 100%;
    background-color: brown;
    min-height: calc(var(--foot-height) * 2.5);
    margin-bottom: 0.5em;
}

.row {
    width: 100%;
    height: 200px;
    background-color: brown;
    margin-top: 1.5em;
}

/* end container */



/* text */

h1 {
    padding: 5px 0;
    font-weight: 700;
}

span {
    font-size: 1.2em;
    font-weight: 400;
}

/* text */



/* list */

ul {
    list-style: none;
    display: inline;
    gap: 20px;
    flex-basis: 100px;
}

ul li a{
    line-height: var(--nav-height);
    text-decoration: none;
    color: white;
}

/* end list */




/* button */

.btn-primary {
    top: 27%;
    right: 2%;
    background-color: white;
    padding: 10px 30px;
    z-index: 999;
}

/* end button */