:root {

    /* height */
    --foot-height: 100px;
    --upgrade-height: 80px;
    --nav-height: 65px;
    --row-height: 290px;
    

    /* text-size */
    --h1-text-size: 2em;
    --h2-text-size: 1.4em;
    --span-text-size: 1.2em;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

html {
    font-size: 100%;
    font-family: 'Balsamiq Sans', cursive;
    overflow: hidden;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
  }


/* commun uses */

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

/* end common uses */



/* flex */

.flex {
    display: flex;
}

.box-row {
    flex-direction: row;
    flex-wrap: wrap;
}

.box-column {
    flex-direction: column;
    flex-wrap: wrap;
}

.box-column-no {
    flex-direction: column;
    flex-wrap: nowrap;
}

.box-center {
    justify-content: center;
}

.box-space-bew {
    justify-content: space-between;
}


/* end flex */



/* container */

body {
    background-color: #141922;
}

header {
    height: calc(100vh - var(--foot-height));
    width: 15%;
    background-color: black;
}

main {
    background-color: transparent;
    width: 85%; 
}

main > div:last-child {
    overflow: auto;
}

footer {
    height: var(--foot-height);
    width: 100%;
    background-color: #282828;
    bottom: 0;
    position: fixed;
}

.upgrade {
    height: var(--upgrade-height);
    background-color: #080b12;
    width: 100%;
}

.nav {
    height: var(--nav-height);
    background-color: transparent;
}

.container {
    height: calc(100vh - (var(--upgrade-height) + var(--nav-height) + var(--foot-height)));
    padding: 10px;
}

.row {
    width: 100%;
    margin-top: 1.5em;
    column-gap: 1%;
}

.container-nav {
    width: 90%;
    height: 96%;
    margin: 25px auto 0 auto;
    row-gap: 30px;
}

.playlist-name  {
    height: 100%;
    overflow: auto;
    min-height: 100px;
}

.nav-footer {
    margin-top: auto;
}

/* end container */



/* card */

.card {
    width: 100%;
    max-width: 220px;
}

.image, .description {
    flex-basis: 100%;
}

.image img {
    width: 100%;
}

.description {
    text-align: center;
}

.description span {
    display: block;
    margin-bottom: 0.4em;
}

.description > span:first-child {
    margin: 1em 0 0.5em 0;
    font-size: var(--span-text-size);
    font-weight: 400;
    color: white;
}

.container > div:last-of-type .card > .image img {
    clip-path: ellipse(48% 50% at 50% 50%);
}

/* end card */



/* text */

h1 {
    padding: 5px 0;
    font-size: var(--h1-text-size);
    font-weight: 700;
    margin-top: 1em;
}

h2 {
    font-size: var(--h2-text-size);
}

span {
    font-size: calc(var(--span-text-size) - 5px);
    font-weight: 400;
    color: #77797e;
}

a {
    text-decoration: none;
}

/* text */



/* list */

ul {
    list-style: none;
}

.container-nav li {
    height: 40px;
}

.container-nav button {
    background-color: transparent;
    border: none;
    justify-content: start;
    align-items: center;
}

.logo img {
    height: 50px;
}

.navigation ul {
    flex-basis: 100%;
    row-gap: 10px;
}

.navigation img {
    width: 12%;
}

.navigation span {
    width: 85%;
    text-align: start;
    padding-left: 0.3em;
    font-size: 1.4em;
}

.playlist-name ul {
    row-gap: 15px;
}

.playlist i {
    width: 20%;
    font-size: 4em;
}

.playlist-name span, .playlist span {
    width: 100%;
    text-align: start;
    font-size: 1.4em;
}

.playlist > button {
    margin: 10px 0 10px 0;
}

.playlist > button span {
    width: 80%;
    padding-left: 1.5em;
}

.nav ul {
    gap: 20px;
    flex-basis: 100px;
    overflow: auto;
}

.nav ul li a{
    line-height: var(--nav-height);
    color: white;
}

.nav-footer li:first-child {
    border-bottom: 1px solid gray;
}

.nav-footer li:last-child {
    align-items: center;
    margin-top: 0.8em;
}

.nav-footer span {
    padding-left: 1.4em;
    font-size: var(--span-text-size);
}

.nav-footer h2 {
    font-size: var(--span-text-size);
    padding-left: 1.4em;
}

.nav-footer img {
    height: 25px;
}

.nav-footer li:last-child button {
    padding: 3px 6px;
    border-radius: 20px;
    background-color: gray;
}

.nav-footer li:last-child img {
    height: 30px;
}


/* end list */




/* button */

.btn-primary {
    top: 27%;
    right: 2%;
    background-color: transparent;
    padding: 10px 30px;
    border: 2px solid white;
    border-radius: 30px;
    z-index: 999;
}

a, button {
    cursor: pointer;
}

/* end button */




/* controller  */

footer {
    
}

.music {
    display: inline-flex;
    width: 25%;
    align-items: center;
    column-gap: 10px;
}

.music-image {
    width: 10%;
    margin-left: 15px;
}

.music img {
    width: 100%;
}

.music-name {
    height: 80px;
    padding-right: 2em;
}

.music h2 {
    font-size: var(--span-text-size);
}

.save-music {
    height: 100%;
}

.save-music {
    align-items: center;
    column-gap: 15px;
    font-size: var(--span-text-size);
}

.duration {
    width: 50%;
}

.control-button {
    column-gap: 30px;
    align-items: center;
}

.control-button i {
    font-size: 1.5em;
}

.control-button a:nth-child(3) i{
    font-size: 2em;
}

.time-bar {
    column-gap: 20px;
    align-items: center;
}

.bar {
    background-color: gray;
}

.bar .fr {
    background-color: #5a5a5a;
}

.bar .fl {
    background-color: #c1c1c1;

}

.time-bar .bar {
    height: 5px;
    width: 80%;
}

.time-bar .bar .fr {
    height: 100%;
    width: 65%;
}

.time-bar .bar .fl {
    height: 100%;
    width: 35%;
}

.volume {
    display: inline-flex;
    width: 25%;
    align-items: center;
    justify-content: flex-end;
    column-gap: 20px;
    font-size: var(--span-text-size);
    margin-right: 15px;
}

.volume-bar {
    width: 35%;
}

.volume .bar {
    height: 5px;
    width: 100%;
}

.volume .bar .fr {
    height: 100%;
    width: 65%;
}

.volume .bar .fl {
    height: 100%;
    width: 35%;
}

.thumb {
    position: absolute;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: orange;
    top: -3.5px;
    right: 0;
}

.volume {
    align-items: center;
}

/* end controller */