:root {

    /* height */
    --foot-height: 100px;
    --upgrade-height: 80px;
    --nav-height: 65px;
    --row-height: 290px;
    

    /* text-size */
    --h1-text-size: 2em;
    --h2-text-size: 1.4em;
    --span-text-size: 1.2em;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

html {
    font-size: 100%;
    font-family: 'Balsamiq Sans', cursive;
}



/* commun uses */

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

/* end common uses */



/* flex */

.flex {
    display: flex;
}

.box-row {
    flex-direction: row;
    flex-wrap: wrap;
}

.box-column {
    flex-direction: column;
    flex-wrap: wrap;
}

.box-column-no {
    flex-direction: column;
    flex-wrap: nowrap;
}

.box-center {
    justify-content: center;
}


/* end flex */



/* container */

body {
    background-color: #141922;
}

header {
    height: calc(100vh - var(--foot-height));
    width: 10%;
    background-color: black;
}

main {
    background-color: transparent;
    width: 90%; 
}

main > div:last-child {
    overflow: auto;
}

footer {
    height: var(--foot-height);
    width: 100%;
    background-color: #282828;
    bottom: 0;
    z-index: 1;
}

.upgrade {
    height: var(--upgrade-height);
    background-color: #080b12;
    width: 100%;
}

.nav {
    height: var(--nav-height);
    background-color: transparent;
}

.container {
    height: calc(100vh - (var(--upgrade-height) + var(--nav-height) + var(--foot-height)));
    padding: 10px;
}

.row {
    width: 100%;
    background-color: brown;
    margin-top: 1.5em;
    gap: 20px;
}

/* end container */



/* card */

.card {
    background-color: blue;
    width: 100%;
    max-width: calc(100% / 6 - (20px * 5));
}

.image {
    flex-basis: 100%;
}

.image img {
    width: 100%;
}

.description {
    flex-basis: 100%;
}

.description span {
    display: block;
    text-align: center;
    margin-bottom: 0.4em;
}

.description > span:first-child {
    margin: 1em 0 0.5em 0;
    font-size: var(--span-text-size);
    font-weight: 400;
    color: white;
}


/* end card */



/* text */

h1 {
    padding: 5px 0;
    font-size: var(--h1-text-size);
    font-weight: 700;
}

h2 {
    font-size: var(--h2-text-size);
}

span {
    font-size: calc(var(--span-text-size) - 5px);
    font-weight: 400;
    color: #77797e;
}

/* text */



/* list */

ul {
    list-style: none;
    display: inline;
    gap: 20px;
    flex-basis: 100px;
}

ul li a{
    line-height: var(--nav-height);
    text-decoration: none;
    color: white;
}

/* end list */




/* button */

.btn-primary {
    top: 27%;
    right: 2%;
    background-color: transparent;
    padding: 10px 30px;
    border: 2px solid white;
    border-radius: 30px;
    z-index: 999;
}

/* end button */